:root {
    --ff-primary: "Figtree", sans-serif;

    --fs-sm: 0.9rem;
    --fs-md: 1rem;
    --fs-lg: 1.02rem;

    --fw-light: 300;
    --fw-bold: 600;
    --fw-black: 800;

    --clr-yellow: hsl(47, 88%, 63%);

    --clr-white: hsl(0, 0%, 100%);
    --clr-grey: hsl(0, 0%, 50%);
    --clr-black: hsl(0, 0%, 7%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    min-height: 650px;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--clr-yellow);

    font-family: var(--ff-primary);
}

.blog {
    max-width: 384px;
    padding: 1.4rem;

    border: 1px solid var(--clr-black);
    border-radius: 1.15rem;

    background-color: var(--clr-white);

    box-shadow: 8px 8px var(--clr-black);

    transition: 0.2s;
}
.blog:hover {
    box-shadow: 16px 16px;
}

.blog__image img {
    border-radius: 10px;
}

.blog__highlight {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;

    font-size: var(--fs-sm);
    font-weight: var(--fw-black);
    background-color: var(--clr-yellow);
}

.blog__date {
    display: block;
    margin-top: 0.8rem;

    font-size: var(--fs-sm);
}

.blog__title {
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.blog__title:hover {
    color: var(--clr-yellow);
}

.blog__body {
    margin-top: 1rem;
    color: var(--clr-grey);
    font-weight: var(--fw-light);
    line-height: 1.5;
}

.blog__author {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;

    gap: 0.75rem;
}

.blog__author-pfp img {
    height: 2rem;
    width: 2rem;
}

.blog__author-name {
    font-size: var(--fs-sm);
    font-weight: var(--fw-black);
}
